<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Allow access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>

# Security headers & uploads max size
php_value upload_max_filesize 20M
php_value post_max_size 25M
